// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.func-static-checker {
  color:red;
}

.my-error{
  background:#6b0c09 !important;
  color: white;
}
.my-warning{
  color: yellow !important;
  //font-style: italic;
}
.content{
  background-color: #21252B !important;
  color: white !important;
}
.detail.item{
  background-color: #2C323C !important;
  color: white !important;
}
.close-all{
  background-color: black !important;
  color: white !important;
}

.errorNode{
  text-decoration:overline #9da5b4;
  color:#ad221d
}

.node{
  text-decoration:overline;
}

.type-annotation{
  color:blanchedalmond;
  font-style:oblique
}

.item-inline{
  display:inline-block;
}