// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.func-static-checker {
  color:red;
}

.errorC{
  background:#69100d !important;
  color: white;
  //text-decoration: #f8faa5 underline;
  //background: #fab7b4;
}
